#titulo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

#subtitulo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    padding-top: 1rem;
}

.card-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.card-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}


/*  wght@300;600&display=swap */